body {
    margin: 0px;
    padding: 0px;
    font-family: 'Public Sans', sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    height: 40px;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: gray;
    margin-left: 2rem;
}

main {
    display: flex;
    flex-direction: column;
}

button {
    height: 2.0rem;
    background-image: linear-gradient(to right,hsla(136, 65%, 51%,0.8), hsla(192, 70%, 51%,0.8));
    color: white;
    border: none;
    border-radius: 30px;
    width: 200px;
    font-weight: 600;
    cursor: pointer;
}

button:active {
    transform: scale(.98);
}

.top-section {
    display: flex;
    flex-direction: row;
    text-align: left;
    background-color: hsl(220, 16%, 96%);
}

.top-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 4rem;
    padding-top: 0rem;
    text-align: left;
    justify-content: center;
}

.top-left p {
    padding-left: 0px;
    width: 50%;
}

.top-img {
    background-image: url("/img/bg-intro-desktop.svg");
    background-position: bottom left;
}

.mid-section {
    background-color: hsl(0, 0%, 98%);
}

.mid-section p {
    padding-left: 0px;
}

.mid-top {
    display: flex;
    flex-direction: column;
    padding:4rem;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-bottom: opx;
    width: 100%;
}

.mid-top p {
    width: 30%;
}

.mid-card {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 4rem;
}

mid-car article h3, p{
    width: 50%;
}

.low-tittle {
    padding: 4rem;
    padding-top: 0px;
    padding-bottom: 0px;
}

.low-card {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2rem
}

.low-card-item {
    background-color: white;
    border-radius: 5px;
    margin: 2rem;
}

.low-card-item h3, h6 {
    width: 80%;
    padding-left: 10px;
    padding-bottom: 1rem;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: left;
}

.low-card-item p {
    margin-right: 0px;
    width: 100%;
    padding-left: 10px;
}

.low-card-item img {
    width: 100%;
    border-radius: 5px 5px 0 0;
}

footer {
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    background-color: hsl(233, 26%, 24%);
    color: white;
}

.img-footer {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.list-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
}

.list-footer a{
    color: white;
    align-items: flex-start;
    padding-left: 0px;
    margin-left: 0px;
}

.terms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.terms p {
    padding-right: 0px;
}